{% extends '_base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}
    {% trans 'My Scheduler' %}
{% endblock %}

{% block seo %}
        <meta name="description" content="{% trans 'In planr, you can schedule a event' %}">
        <meta name="keywords" content="{% trans 'Planning,Schedule,Budget,Gantter,Open Source,Free,Web-based, Multi-Language' %}">
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" href="{% static 'css/scheduler/view.css' %}">
{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="{% static 'js/scheduler/category.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scheduler/scheduler.js' %}"></script>
{% endblock %}

{% block main_content %}
   
    <div class="alert-danger" role="alert" style="display: none;margin-top:5px;" id="scheduler_error">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Error' %}:</span>
        <span class="errormsg"></span>
    </div>
    <div id="scheduler">
        
    </div>
{% endblock %}
