{% extends '_base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans 'Account' %}{% endblock %}

{% block seo %}
	<meta name="description" content="{% trans 'In planr, you can modify your name and password.' %}">
	<meta name="keywords" content="{% trans 'Planning,Schedule,Budget,Gantter,Open Source,Free,Web-based, Account, Multi-Language' %}">
{% endblock %}

{% block main_content %}
    <form class="form-horizontal" method="post" action="/update_account/">
        {% if SuccessMsg %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{% trans 'Success' %}!</strong> {{ SuccessMsg }}
            </div>
        {% endif %}
        
        {% if Error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{% trans 'Error' %}:</span>
                {{ Error }}
            </div>
        {% endif %}
        
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">{% trans 'Email' %}:</label>
          <div class="col-sm-10">
            <input type="email" name="email" value="{{ email }}" class="form-control" id="email" placeholder="{% trans 'Email' %}">
          </div>
        </div>
        
        <div class="form-group">
          <label for="fname" class="col-sm-2 control-label">{% trans 'Full Name' %}:</label>
          <div class="col-sm-10">
            <input type="text" name="fname" value="{{ full_name }}" class="form-control" id="fname" placeholder="{% trans 'Full Name' %}">
          </div>
        </div>
        
        
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">{% trans 'Password' %}:</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="password" placeholder="{% trans 'Password' %}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans 'Update Details' %}</button>
          </div>
        </div>
  </form>
{% endblock %}
